@import "bootstrap";

.my-dropdown-container{
  & > input[type="checkbox"]:checked + span { 
    @extend .open; 
  }
  & > span { @extend .btn-group; }
  & > span > label { 
    @extend .btn;
    @extend .btn-default;
    //@extend .dropdown-toggle;
  }
  & > span > span { @extend .dropdown-menu; }
  & > span > span > button  { 
    @extend .btn; 
    @extend .btn-link;
    display: block; 
  }
}



