---
title: Progressive Enhancement Button Dropdown
---
The default example of bootstrap's button dropdowns is based on links,
which might not always be what you need if designing progressively enhanced.
Futhermore, bootstrap need as well javascript and styles enabled 
for this to work; if one of the two is not present, you're screwed.

<dl>
  <dt>Choice</dt>
  <dd class="my-dropdown-container">
    <input type="checkbox" id="skljfsdkljf" hidden>
    <span>
      <!-- we still need the bootstrap class dropdown-toggle 
           explicitly in bootstrap 3 -->
      <label for="skljfsdkljf" class="dropdown-toggle">
        <strong>State 1</strong> <span class="caret"></span>
      </label>
      <span>
        <button type="submit">State 2</button>
        <button type="submit">State 3</button>
      </span>
    </span>
  <dd>
</dl>